common/src/com/befasoft/common/business/webservices/client/sessionAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.webservices.business.common.befasoft.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.webservices.business.common.befasoft.com/" name="SessionAPIService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.webservices.business.common.befasoft.com/" schemaLocation="http://localhost:8080/sessionAPI?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createServerKey">
<part name="parameters" element="tns:createServerKey"></part>
</message>
<message name="createServerKeyResponse">
<part name="parameters" element="tns:createServerKeyResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="finishSession">
<part name="parameters" element="tns:finishSession"></part>
</message>
<message name="finishSessionResponse">
<part name="parameters" element="tns:finishSessionResponse"></part>
</message>
<message name="isValidSession">
<part name="parameters" element="tns:isValidSession"></part>
</message>
<message name="isValidSessionResponse">
<part name="parameters" element="tns:isValidSessionResponse"></part>
</message>
<portType name="Session">
<operation name="createServerKey">
<input wsam:Action="http://server.webservices.business.common.befasoft.com/Session/createServerKeyRequest" message="tns:createServerKey"></input>
<output wsam:Action="http://server.webservices.business.common.befasoft.com/Session/createServerKeyResponse" message="tns:createServerKeyResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server.webservices.business.common.befasoft.com/Session/createServerKey/Fault/Exception"></fault>
</operation>
<operation name="finishSession">
<input wsam:Action="http://server.webservices.business.common.befasoft.com/Session/finishSessionRequest" message="tns:finishSession"></input>
<output wsam:Action="http://server.webservices.business.common.befasoft.com/Session/finishSessionResponse" message="tns:finishSessionResponse"></output>
</operation>
<operation name="isValidSession">
<input wsam:Action="http://server.webservices.business.common.befasoft.com/Session/isValidSessionRequest" message="tns:isValidSession"></input>
<output wsam:Action="http://server.webservices.business.common.befasoft.com/Session/isValidSessionResponse" message="tns:isValidSessionResponse"></output>
</operation>
</portType>
<binding name="SessionAPIPortBinding" type="tns:Session">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createServerKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="finishSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="isValidSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SessionAPIService">
<port name="SessionAPIPort" binding="tns:SessionAPIPortBinding">
<soap:address location="http://localhost:8080/sessionAPI"></soap:address>
</port>
</service>
</definitions>